@import "../../../../components/utils/styles/offsets.config.css";

.iconsContainer > :not(:last-child) {
    margin-right: var(--offset-sm);
}

.header {
    padding-bottom: 20px;
}

.icon:hover svg {
    transform: translateY(-4px);
}
