.group  {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.group > :not(:last-child) {
    margin-right: 40px;
}
.group > div {
    margin-bottom: 40px;
}