@import "../utils/styles/colors.config.css";
@import "../utils/styles/font-sizes.config.css";

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--gray);
    padding: 10px;
    border: 1px solid black;
    min-height: 300px;
    width: 200px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    overflow: hidden;
}

.card:hover {
    box-shadow: 0 5px 5px var(--gray);
    transform: translateY(-7px);
}

.card:hover .description {
    margin-top: -500px;
}

.card:hover .nameDescription {
    margin-top: 100px;
}

.card:hover .image {
    transform: scale(2.1);
    transition: transform 1s;
}

.transitionDescription {
    transition: 1s
}

.transitionCard {
    transition: min-height, width 1s;
}

.icon {
    position: absolute;
    right: 0;
    top: 0;
    margin: 5px 5px 0 0;
}
