@import "../../components/utils/styles/offsets.config.css";
@import "../../components/utils/styles/colors.config.css";

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 50px;
}

.addLink {
    margin-top: var(--offset-lg);
}