:root {
    --main-background-color: #0f0f0f;
    --main-text-color: #e6e6e6
}

.mainContainer {
    background-color: var(--main-background-color);
    color: var(--main-text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.addButton {
    margin-top: var(--offset-lg);
}